<div class="container">
  <h3><%= @q.title %></h3>
  <div class="questions">
    <ol>
      <% @q.questions.each do |qestion| %>
          <li><%=qestion.text%></li>
          <ol>
            <% qestion.answers.each do |answer| %>
              <li><%= answer.text %></li>
            <% end %>
          </ol>
      <%end%>
    </ol>
    <!--form for create question into questionary-->
    <%= form_for [@q, @q.questions.build] do |f| %>
        <%= f.label :text%>:
        <%= f.text_area :text %>
        <%= f.submit %>
    <% end %>
  </div>
</div>