<div class="container">
  <h3><%= @q.title %></h3>

  <%= form_for @statistics, url: statistics_path, method: 'POST' do |f| %>
    <div class="questions">
      <ol>
        <% @q.questions.each do |question| %>
            <li><%=question.text%></li>
            <ol>
              <% question.answers.each do |answer| %>
                  <li>
                    <label>
                      <%= f.fields_for :question_id do |q| %> v
                          <%= q.radio_button(question.id, answer.id) %> <%= answer.text %>
                      <% end %>
                    </label>
                  </li>
              <% end %>
            </ol>
        <%end%>
      </ol>
    </div>

    <%= hidden_field_tag 'questionary_id', (@q.id) %>
    <%= f.submit(class:'btn btn-primary btn-lg') %>
  <%end%>
</div>