<!DOCTYPE html>
<html>
<head>
  <title>Questionnaire</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="questionary">
  <%= render partial: 'layouts/partials/header' %>
  <%= yield %>
</body>
</html>
